<app-header-blue></app-header-blue>

<section class="d-flex align-items-center vh-100 mt-5  align-middle">

<p-toast></p-toast>

<div class="card w-100">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success me-2 mb-2" (click)="openNew()"></button>
            <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger mb-2 me-5" (click)="deleteSelectedrelatorys()" [disabled]="!selectedRelatorys || !selectedRelatorys.length"></button>
            <p-calendar [(ngModel)]="monthAndYear" [placeholder]="today.getMonth() +1 + '/' + today.getFullYear()" [touchUI]="true" view="month" dateFormat="mm/yy"></p-calendar>
            <h1>Bem vindo: {{user.name}}</h1>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="me-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="relatorys" [rows]="7" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
        [(selection)]="selectedRelatorys" [rowHover]="true" dataKey="day" [scrollable]="true" scrollHeight="50vh"
        currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} datas relatadas" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <!-- <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage relatorys</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target, 'contains')" placeholder="Search..." />
                </span>
            </div> -->
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="day">Dia <p-sortIcon field="day"></p-sortIcon></th>
                <th pSortableColumn="publications">Publicações <p-sortIcon field="publications"></p-sortIcon></th>
                <th pSortableColumn="videos">Videos Mostrados <p-sortIcon field="videos"></p-sortIcon></th>
                <th pSortableColumn="hours">Horas <p-sortIcon field="hours"></p-sortIcon></th>
                <th pSortableColumn="revisting">Revisitas <p-sortIcon field="revisting"></p-sortIcon></th>
                <th pSortableColumn="studies">Estudos biblicos <p-sortIcon field="studies"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-registry>
            <tr>
                <td>
                    <p-tableCheckbox [value]="registry"></p-tableCheckbox>
                </td>
                <td>{{registry.day}}</td>
                <td>{{registry.publications}}</td>
                <td>{{registry.videos}}</td>
                <td>{{registry.hours}}</td>
                <td>{{registry.revisits}}</td>
                <td>{{registry.studies}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success me-2" (click)="editrelatory(registry)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleterelatory(registry)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Totais do mês: {{relatorys ? 'Horas - '+totalHours.hours +' / Publicações - '+totalHours.publications + ' / Videos - '+totalHours.videos+' / Revisitas - '+totalHours.revisits+' / Estudos - '+totalHours.studies : 0 }}.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="relatoryDialog" [style]="{width: '450px'}" header="relatory Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="date">Data:</label>
            <p-calendar [(ngModel)]="calendarDate" [touchUI]="true"  [defaultDate]="today" [maxDate]="maxDateValue" [minDate]="minDateValue" [readonlyInput]="true" [inline]="true"></p-calendar>
            <small class="p-error" *ngIf="submitted">Data é obrigatorio.</small>
        </div>
        <div class="field">
          <label for="publication">Horas</label>
          <input type="number" id="hours" pInputText [(ngModel)]="relatory.hours" required>
          <small class="p-error" *ngIf="submitted && !relatory.hours">Quantidade de Horas é obrigatorio</small>
      </div>
        <div class="field">
            <label for="publication">Publicações</label>
            <input type="number" id="publication" pInputText [(ngModel)]="relatory.publications" required>
            <small class="p-error" *ngIf="submitted && !relatory.publications">Quantidade de publicações é obrigatorio</small>
        </div>
        <div class="field">
          <label for="videos">Videos Mostrados</label>
          <input type="number" id="videos" pInputText [(ngModel)]="relatory.videos" required>
          <small class="p-error" *ngIf="submitted && !relatory.videos">Quantidade de videos é obrigatorio</small>
      </div><div class="field">
        <label for="revisting">Revisitas</label>
        <input type="number" id="revisiting" pInputText [(ngModel)]="relatory.revisits" required>
        <small class="p-error" *ngIf="submitted && !relatory.revisits">Quantidade de revisitas é obrigatorio</small>
    </div>
    <div class="field">
      <label for="studies">Estudos</label>
      <input type="number" id="studies" pInputText [(ngModel)]="relatory.studies" required>
      <small class="p-error" *ngIf="submitted && !relatory.studies">Quantidade de rstudos é obrigatorio</small>
  </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveRelatory()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</section>


<app-footer-blue></app-footer-blue>
